@import '../variables';

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: var(--background-color);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  div {
    display: flex;
    flex-direction: row;
  }
  h2 {
    font-weight: 500;
    margin-bottom: 0.7rem;
  }

  p {
    margin: 2rem 0;
    font-size: 0.9rem;
    font-weight: 200;
    max-width: 30ch;
  }
}