@import '../variables';

@mixin flexbox() {
  display: flex;
  flex-direction: row;
}
.container {
  position: fixed;
  font-weight: 600;
  width: 100%;
  @include flexbox;
  justify-content: space-around;
  @include mobile(){
    display: block;
    .hidden {
      visibility: hidden;
    }
  }
  ul {
    @include flexbox;
    padding: 1.5rem;
    width: 80%;
    background: #1b1b1b;
    justify-content: space-around;
    @include mobile(){
      position: relative;
      display: block;
      width: 100%;
      height: max-content;
    }
  }
}
