---
import s from '../styles/components/Proyects.module.scss';

---
<section >
  <article class={s.container}>
    <header>
      <h2>About me</h2>
    </header>
    <p>
      I was born in Costa Rica. I am Since I was a child I have loved science and technologies and I had the pleasure of studied technology related developing and creating solutions for people. When I took my first python course in college I fell in love with programming.  Thanks to this, throughout my life and experience as a developer, I dedicate myself to increase my problem solving skills and teamwork, capacity to learn new tools, technologies and good communication skills.
    </p>

  </article>
  
</section>