---
import s from '../styles/components/Contact.module.scss'
---
<section class="container" id='contact'>
  <article>
    
  </article>
  <header>
    <h2>Contact</h2>
  </header>
  <form action="">
    <input type="text" placeholder="Name">
    <input type="text" placeholder="Email Address">
    <textarea placeholder="Your Message" rows="4" cols="7"></textarea>
    <button type="submit">Submit</button>
  </form>
</section>