---
import s from '../styles/components/Contact.module.scss'
---

<section class={s.container} id='contact'>
  <div>
    <header>
      <h2>Contact</h2>
    </header>
    <form action="https://formsubmit.co/el/hapovo" method='POST'>
      <input type="text" placeholder="Name" name='name'/>
      <input type="text" placeholder="Email Address"name='email'/>
      <textarea placeholder="Your Message" rows="4" cols="7" name='message'></textarea>
      <input type="hidden" name="_next" value="https://richidev.com">
      <button type="submit">Send</button>
    </form>
  </div>
</section>
