<footer class="footer"><span>Made with Astro & Sass</span></footer>
<style>
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b1b1b;
    width: 100%;
    padding: 2rem;
    min-height: max-content;
  }
</style>