---
import Navbar from './Navbar.jsx';
import s from '../styles/components/Header.module.scss';
const sections = [
  {name:'Home',link:'/',external:false},
  {name:'Proyects',link:'#Proyects',external:false},
  {name:'Github',link:'https://www.github.com/richiobando',external:true},
]
---

<nav id='header' class={s.header}>
  <Navbar client:load sections={sections} />
</nav>
