---
import s from '../styles/components/Hero.module.scss';
---

<section class={s.container} id='home'>
  <img src='richi.png' alt="Ricardo Obando's Photo" />
  <div>
    <header>
      <p>Hi I'm </p>
      <h1>Ricardo Obando</h1>
    </header>
    <h2>Frontend Developer</h2>
    <p>Let's build awsome websites</p>
    <a href="#contact"><button >Contact</button></a>
  </div>
</section>

