<img src='richi.png' alt='' />
<h2>Hi I'm Ricardo Obando Frontend Developer</h2>
<header>
  I'm a Web Developer specialaized passionate about science and programming.
</header>
<p>
  Let's build awsome website and apps
</p>
<button>Contact</button>

<!-- 1:00:00 -->
