---
import s from '../styles/components/Hero.module.scss'



---
<section class={s.container} id='home'>
  <img src='richi.png' alt='' />
  <h2>Hi I'm Ricardo Obando </h2>
  <header>
    Frontend Developer
  </header>
  <p>
    Let's build awsome websites
  </p>
  <button>Contact</button>

</section>

<!-- 1:00:00 -->
