---
import s from '../styles/components/Proyects.module.scss'
---

<section class={s.container} id='proyects'>
  <header><h2>Proyects</h2></header>
  <article>
    <header>
      <h3>Recipe Web App</h3>
      <p>Serach the healtys recipe you want </p>
    </header>
    <img src="/food-app.png" alt="">
  </article>
  <article>
    <header>
      <h3>Gym Managment Web app</h3>
      <p> </p>
    </header>
      <img src="/liberfit.png" alt="Gym-page-image">
  </article>
  <article>
    <header>
      <h3>Gym Managment Web app</h3>
      <p>Serach the healtys recipe you want </p>
    </header>
    <img src="" alt="">
  </article>
</section>