---
import BaseHead from '../components/BaseHead.astro';

import Navbar from '../components/Navbar.astro'
import Hero from '../components/Hero.astro';
import Contact from '../components/Contact.astro';
import Proyects from '../components/Proyects.astro';
import ShootingStars from '../components/atoms/ShootingStars.jsx';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

const {
  image,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
} = Astro.props;
---

<!DOCTYPE html>
<html lang='en' data-theme='lofi'>
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <main class='main'>
      <ShootingStars client:load bg={ 'hsl(229 ,34%,15%)'} />
      <Navbar />
      <Hero />
      <Proyects />
      <Contact />  
    </main>
  </body>
</html>



